* {
    margin: 0;
    padding: 0;
  }

 .cintainer {
    margin: 100px 450px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 622px;
    height: 590px;
    background-color:gray;
    border-radius: 20px;
    box-shadow: 20px 30px 20px gray;
 }
  h1 {
    text-align: center;
    margin-top:40px ;
    font-size: 40px;
  }

  .form-grp {
    margin: 30px;
  }
  input {
    display: flex;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 7px;
    margin: 0px auto;
    padding : 0px 5px; 
    width: 388px;
    height: 30px;  
    font-size: 15px;
  }

  label {
    display: flex;
    text-align: center;
    margin: 6px auto;
    padding : 0px 2px; 
    width: 388px;
    height: 20px; 
    font-size: 20px;
  }

  .btn {
    width: 30px;
    height: 20px; 
    font-size: 30px;
    margin: 20px 89px;
    
  }

  .btn input {
    font-size: 20px;
  }


  textarea {
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 7px;
    margin: 0px 78px;
    padding: 0px 5px;
    width: 388px;
    height: 117px;
    font-size: 15px;
  }